@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Slabo+27px&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #d2dbdd;
}

.heading_style {
  padding: 30px 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #ffff;
  margin-bottom: 30px;
}

.slot_inner {
  text-align: center;
}

.slotmachine {
  width: 21.25%;
  margin-left: 525px;
  height: 300px;
  border: 2px solid #868686;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: #ffff;
}
