* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  color: #f21170;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  margin: 70px 0px;
  text-shadow: 0px 2px 4px #feeefe;
  font-family: "Montserrat", sans-serif;
}
.img-div {
  display: flex;
  justify-content: center;
}

.img-div img {
  width: 250px;
  height: 300px;
}
